
.git
.github
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.dist/
.build/

#ignora i test perche' non servono nell'immagine docker essendo utili solo in fase di sviluppo
Testing/
tests_*.py
*.log
